/* VARIABLES */

/* Color variables */
$white: #ffffff;
$black: #000000;
$karry: #ffe8d9;

//Override Bootstrap color variables
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}

.bg-white {
  background-color: $white !important;
}
.bg-black {
  background-color: $black !important;
}
.bg-karry {
  background-color: $karry !important;
}

/*************************
	Fonts variables
*************************/

// $font-icons: "fontello";
// .font-icons {
//   font-family: $font-icons;
// }

/*************************
	Base variables
*************************/
// $base-color: $gray-soft;
// $base-font: $font-regular;
// $base-animation: 250ms;
/*************************
	Font path variable
*************************/
//$font-path: "../fonts/";

/*************************
	Body variables
*************************/
// $body-font-family: $base-font;
// $body-font-size: 14px;
// $body-line-height: 1.5;
// $body-main-color: $base-color;

/*************************
	Links variables
*************************/
//$link-color: $success;

/*************************
	Title variables
*************************/
